/*===== RESET BASICO =====*/
:root{
    --color-primary:#2E75B6;
    --color-secondary:#1B2A4A;
    --color-accent:#F59E0B;
    --color-text-bg:#334155;
    --color-bg:#F8FAFC;
    --radius:8px;
    --shadow: 0 2px 8px rgba(0,0,0,0.1);
    --font-main:"Enriqueta",serif;
} /* Modificar colores y bordes */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*===== TIPOGRAFIA BASE =====*/
body {
    font-family: "Enriqueta",serif; /*tipografia del cuerpo de texto*/
    font-size:16px;
    line-height: 1.6;
    color: var(--color-text-bg); /* color para el texto */
    background-color: var(--color-bg); /* color del fondo*/
}
/* fuente de los titulos */
h1, h2, h3 {
    font-family: "Radley", serif;
    font-weight: 700;
}
h1 { font-size: 2.5rem; } /*definir tamaños*/
h2 { font-size: 1.8rem; } 
h3 { font-size: 1.3rem; } 

/*===== HEADER =====*/
header {
    background-color: var(--color-primary); /* usamos la variable*/
    color: var(--color-bg);
    padding: 1rem 2 rem;
    display:flex;
    justify-content:space-between;
    align-items: center;             
}
/*===== NAV =====*/
nav {
    display:flex;
    gap: 30px;;       /*modifica el espacio entre los links*/
    padding:1rem;
    text-decoration: none;

}
:hover {
    transition: 0.3s;
    }

/* ===== FOOTER ===== */
footer {
    background-color:var(--color-primary);
    color: var(--color-bg);
    text-align: center;
    padding: 1rem;
}
/* ===== MAIN ===== */
main {
    max-width: 800px;         /* Ancho maximo */
    margin: 0 auto;           /* Centrar horizontalmente */
    padding: 20px;
}

/* ===== SECCIONES ===== */
section {
    background-color:var(--color-bg);
    border-radius: 8px;            /* Esquinas redondeadas */
    padding: 1.5rem;
    margin-bottom: 2rem;
    box-shadow: 0 2px 5px var(--color-secondary);
}

/* ===== IMAGENES ===== */
img {
    max-width: 100%;             /* Nunca mas ancho que su contenedor */
    height: auto;                 /* Mantiene proporcion */
    display:block;
    border-radius: 8px;
}

/* ===== LISTAS ===== */
ul, ol {
    padding-left: 2rem;           /* Indentacion de la lista */
    margin-bottom: 1rem;
}
/* MODIFICACIONES DE LA FOTO DE PERFIL*/
.foto-perfil{
width: 100px;  height: 100px ;
object-fit:cover;
border:5px solid#1565C0;
border-radius: 98%;
display:block;
margin: 0 auto 1rem;
box-shadow:0 4px 8px rgba(0,0,0,0.2)

}
/*formato del formulario*/
/* Borde verde cuando el campo es válido */
input:valid,textarea:valid {
 border: 2px solid #16A34A;
 background-color: #F0FFF4;
}
/*color blanco mientras no se escriba*/
input:placeholder-shown,
textarea:placeholder-shown{
    border:1px solid #ccc;
    background-color: #ffffff;
}
/* Borde rojo cuando el campo es inválido */
input:not(:placeholder-shown):invalid, 
textarea:not(:placeholder-shown):invalid {
 border: 2px solid #DC2626;
 background-color: #FEF2F2;
}
/* Estilizar el campo con foco */
input:focus ,textarea:focus,select:focus{
 outline: none;
 border-color: #2E75B6;
 box-shadow: 0 0 0 3px rgba(46, 117, 182, 0.2);
}
/*configuracion de botones*/
button{
    cursor:pointer;
    transition:0,3s;}
/*tarjetas*/
.contenedor-tarjetas {
    display: flex;          
    flex-wrap: wrap;        
    gap: 20px;            
    justify-content: center;
    padding: 20px 0;
}

.tarjeta {
    flex: 1 1 280px;        
    background-color: var(--color-bg);
    padding: 2rem;
    border-radius: 10px;    
    box-shadow: 0 4px 10px var(--shadow);
    transition: transform 0.3s ease; 
    border: 1px solid ;
}
.tarjeta:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px var(--shadow);
}
/*hero y footer*/
.hero {
    display: flex;                
    justify-content: center;     
    align-items: center;      
    min-height: 80vh;             
    background: linear-gradient(135deg, var(--color-primary), var(--color-secondary)); 
    color: #ffffff;             
    text-align: center;
    padding: 20px;
    font-family: var(--font-main); 
}

.hero-contenido h1 {
    font-family: "Radley", serif; 
    font-size: 3.5rem;
    margin-bottom: 10px;
}

.hero-contenido h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 30px;
}

/* boton CTA  */
.boton-cta {
    display: inline-block;
    padding: 12px 35px;
    background-color: var(--color-accent); 
    color: #334155;                      
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    transition: 0.3s ease;
}

.boton-cta:hover {
    filter: brightness(1.1);
    transform: scale(1.05);
}
.footer-oscuro {
    background-color: var(--color-secondary); 
    color: #f8fafc;
    padding: 40px 20px;
    text-align: center;
}

.redes a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    transition: 0.3s;
}

.redes a:hover {
    color: var(--color-accent);
}
/* layout */

.layout {
    display: grid;
    grid-template-columns: 220px 1fr; 
    grid-template-rows: auto 1fr auto; 
    grid-template-areas: 
        "header header"
        "sidebar main"
        "footer footer";
    min-height: 100vh;
}

/* organizar etiquetas*/
header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar; 
    background-color: var(--color-bg);
    border-right: 1px solid #ccc;
    padding: 20px;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer; 
}
/* modificaciones del punto 7*/
.contenedor-tarjetas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1.25rem;
}
.tarjeta {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    padding: 20px; 
    background-color: #fff;
}

.tarjeta:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}
/* vista de celulares */
.layout {
    display: block; 
}

.sidebar {
    display: none;
}
/* Tablet (768px)*/
@media (min-width: 768px) {
    .layout {
        display: grid;
        grid-template-columns: 220px 1fr; 
    }
    .sidebar {
        display: block; 
    }
}

/* Laptop (1024px) */
@media (min-width: 1024px) {
    .layout {
        max-width: 1200px; 
        margin: 0 auto;   
    }
}